<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/contactus" routerLinkActive="active">Contact</a>
      <a class="navbar-brand" routerLink="/slides" routerLinkActive="active">Slides</a>
    </div>
  </div>
</nav>