<div class="container">
  <h1>Contact Us</h1>
  <hr>
  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" #fform="ngForm">
    <div class="form-group">
      <label for="firstname">First name</label>
      <input type="text" class="form-control" formControlName="firstname" required>
      <div class="errorMessage" *ngIf="feedbackForm.get('firstname').hasError('required') && feedbackForm.get('firstname').touched">
        First name is required
      </div>
    </div>
    <div class="form-group">
      <label for="lastname">Last name</label>
      <input type="text" class="form-control" formControlName="lastname" required>
      <div class="errorMessage" *ngIf="feedbackForm.get('lastname').hasError('required') && feedbackForm.get('lastname').touched">
        Last name is required
      </div>
    </div>

    <button [disabled]="feedbackForm.invalid" type="submit" class="btn btn-success pull-right">Submit</button>
  </form>
</div>